.Container {
	margin: 50px auto;
}

.Card {
	margin: 0 auto;
	max-width: 360px;
	padding: 10px 15px;
	text-align: left;
}

.Orders {
	margin-bottom: 20px;
	text-align: center;
}

.SmallFont {
	font-size: 17px;
	font-weight: 600;
}