.root {
	width: 90%;
	margin-bottom: 50px;
	height: 380px;
}

.media {
	height: 230px;
}

.Content {
	height: 84px;
}

.Price {
	float: right
}

.Wrapper {
	width: 60%;
}

.Wrapper:after {
	content: '';
	display: block;
	clear: both;
}